<script src="https://accounts.google.com/gsi/client" async></script>


<div class="wrapper">
  <div class="inner">
    <img class="image-1" src="./../assets/imagenes/img.png" alt="Image 1" />

    <form (ngSubmit)="onSubmit()" method="post">
      <h3>Iniciar sesión</h3>

      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="email"
          id="email"
          name="email"
          placeholder="Correo"
          required
        />
      </div>

      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          id="password"
          name="password"
          placeholder="Contraseña"
          required
        />
      </div>
      <br />
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <br />
      <button type="submit">Enviar</button>

      <br /><br />

      <div>
        <a routerLink="/adduser">
          <p>¿Aún no estás registrado?</p>
        </a>
        <a routerLink="/loginadmin">
          <p>¿Eres el admin?</p>
        </a>
      </div>

      <br />

      <br /><br />

          <!-- login.component.html -->
          <div id="buttonDiv"></div>

          <!-- <div
            id="g_id_onload"
            data-client_id="236412742841-kb5urirqrtgs16j06m7sifcrgqu8psbf.apps.googleusercontent.com"
            data-context="signup"
            data-ux_mode="popup"
            
            data-auto_prompt="false"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_blue"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div> -->
    </form>

    <img src="./../assets/imagenes/image-2.png" alt="Image 2" class="image-2" />
  </div>
</div>
